html {
  background-color: #009788;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  text-align:center;
  font-size: 16px;
  font-family: "Courier New";
  color: white;
  font-weight: regular;
  background-color: transparent;
   margin-bottom: 40px;
}

p{
  font-size: 1em;
}

h1 {
  font-size: 4em;
  text-align:center;
}


/* unvisited link */
a:link, footer a{
    color: white;
text-decoration: underline;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    font-weight: bold;
    font-style: normal;

}

/* selected link */
a:active {
    color: lightblue;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#smallText{
  font-size: 1em;
}

#smallerText{
  font-size: 0.8em;
}

.btn-default{
  color: white;
  background-color: transparent;
margin: 10px 10px 10px 10px;
}

a.btn {
  text-decoration: none;
}




.text-muted{
  color: #efefef;
}

.robot{
  background-image: image(images/robot.png);
  background-position: center;
}

.png{
  width: 80%;
}


@media (max-device-width: 768px) {
  body{
    font-size: 30px;
  }
}


@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
    footer {
        font-size: 0.6em;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      text-align: center;
    }
}

footer {
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;

}
