html {
  background-color: #009788;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  text-align:center;
  font-size: 16px;
  font-family: "Courier New";
  color: white;
  font-weight: regular;
  background-color: transparent;
}

p{
  font-size: 1em;
}

h1 {
  font-size: 4em;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

/* selected link */
a:active {
    color: lightblue;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#smallText{
  font-size: 1em;
}

#smallText a{
  text-decoration: underline;
}

footer {
    font-size: 0.6em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.text-muted{
  color: #efefef;
}

@media screen and (max-device-width: 764px) {
  body{
    font-size: 30px;
  }
}
