html {
  background-color: #009788;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  text-align:center;
  font-size: 50px;
  font-family: "Courier New";
  color: white;
  font-weight: regular;
  background-color: transparent;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

/* selected link */
a:active {
    color: lightblue;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

footer {
    font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.text-muted{
  color: #efefef;
}
